# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so

# C extensions
*.c
*.cpp
*.h
*.hpp

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtualenv
venv/
ENV/
env/
.venv/
venv.bak/
# Môi trường ảo cụ thể
myenv/


# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache/

# MyPy
.mypy_cache/

# Pylint
pylint-report.txt
pylint-global.txt

# VS Code
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini
