/* Màu chính - Xanh dương đậm */
:root {
  --main-color: #1976d2; /* Xanh dương đậm */
  --secondary-color: #64b5f6; /* Xanh dương nhạt */
  --highlight-color: #ffb300; /* Màu vàng */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  color: #212529; 
  background-color: #f7f7f7; 
}
.logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #4a90e2; 
  text-decoration: none;
}


.searchWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin: 0 30px; 
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  color: #4a90e2;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Lớp chung cho tất cả các button */
.button {
  color: #fff;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3); /* Thêm viền bóng */
}


.button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.activeLink {
  background-color: var(--secondary-color);
  color: white;
}

.nav {
  display: flex;
  gap: 10px;
}


.userMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.username {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 10px 20px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3); 
}

.avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 2px solid #ffffff;
}

/* User Profile Menu */
.userProfileMenu {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.userProfile button {
  background: none;
  border: none;
  color: #4a90e2;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.userProfile button:hover {
  color: #007bb5;
  background-color: #e0f7fa;
}

.loginLink {
  padding: 10px 20px;
  background-color: #e0f7fa; 
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 10px 20px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3); 

}

.loginLink:hover {
   background-color: #e0f7fa; 
}


.tippy-box {
  background-color: #ffffff !important;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;
  
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
